*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #101417;
}

.btn.btn-primary {
  background-color: #0ec0d7;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #27daf1;
}
